<!--Defines the document as HTML-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!--Sets the name of the WebPage-->
        <title>Template</title>
        <!--Links and uses the Stylesheet to the page-->
        <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="Style.css">
    </head>
    <!--Contains the content of the WebPage-->
    <body>
    <!--Creates the header section of the page-->
        <header>

        </header>

    <!--Creates the main section of the page-->
        <main>

        </main>

    <!-- Creates the footer section of the page-->
        <footer>

        </footer>

    <!--Creates an article area for your text-->
        <article>

        </article>

    <!-- Creates a section of the page-->
        <section>

        </section>

    <!--Creates a header-->
        <h1>
        Welcome to the Template Website
        </h1>

    <!--Creates a paragraph-->
        <p>
        This is a paragraph
        </p>

    <!--Creates an ordered list-->
        <ol type="I">
            <li>Apples</li>
            <li>Oranges</li>
            <li>Air</li>
        </ol>

    <!--Creates an unordered list-->
        <ul>
            <li>Zero</li>
            <li>Alfie</li>
        </ul>
    <!--Creates a line Break-->
        <br>

    <!--Creates a list-->
        <li>
        First Item
        </li>

    <!--Changes text to be bold-->
        <b>
            Bold
        </b>

    <!--Changes text to be italic-->
        <i>
            Italic
        </i>

    <!--Creates a horizontal line-->
        <hr>

    <!--Makes text inside bigger/ same with small-->
        <big>
            Text
        </big>

    <!--Makes text inside subscript/ superscript-->
        <sub>
            subscript
        </sub>

    <!--Changing text colour by passing a property-->
        <p2 style="color:blue;">
            I am the colour blue
        </p2>

    <!--Creates a hyperlink-->
        <a href="https://github.com/Reece167/HTML.git" target="_blank">
            GitHub Repository
        </a>

    <!--Creates an image from a link-->
        <img width="600" src="https://image.freepik.com/free-photo/vacation-wonder-fresh-trees-waterfall-outdoor_1417-1104.jpg"
             alt="No Image"/>

    <!--Creates an Youtube video link-->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/iYxnIPwhn9w" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>

    <!--Creates a table-->
        <table>
            <!--Creates the table head-->
            <thead>
                <!--Creates a table caption-->
                <caption>List of Numbers</caption>
                <!--Creates column names-->
                <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                </tr>
            <thead>>

            <!--Creates a table body-->
            <tbody>
                <!--Creates the first row-->
                <tr>
                    <td>one</td>
                    <td>two</td>
                    <td>three</td>
                </tr>
                <!--Creates the second row-->
                <tr>
                    <td>four</td>
                    <td>five</td>
                    <td>six</td>
                </tr>
            <tbody>
        </table>

    <!--Creating a container to use to store html-->
        <!--Creating a inline container-->
            <span>SpanText</span>
            <span>SpanTextTo</span>

        <!--Creating a block container-->
            <div>DivText</div>
            <div>DivText2</div>

    <!--Creating user inputs-->
        <input type="text" value="Enter text">
        <input type="date">
        <input type="range">

        <input type="submit">
        <input type="checkbox">

        <textarea rows="25" cols="100">Enter paragraph
        </textarea>

    <!--Creating a form/ container for inputs-->
        <form>
            <input type="week">
        </form>
    </body>


</html>