<!--Defines the document as HTML-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!--Sets the name of the WebPage-->
        <title>Template</title>
        <!--Links and uses the Stylesheet to the page-->
        <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="Style.css">
    </head>
    <!--Contains the content of the WebPage-->
    <body>
    <!--Creates the header section of the page-->
        <header>

        </header>

    <!--Creates the main section of the page-->
        <main>

        </main>

    <!-- Creates the footer section of the page-->
        <footer>

        </footer>

    <!--Creates an article area for your text-->
        <article>

        </article>

    <!-- Creates a section of the page-->
        <section>

        </section>

    <!--Creates a header-->
        <h1>
        Welcome to the Template Website
        </h1>

    <!--Creates a paragraph-->
        <p>
        This is a paragraph
        </p>

    <!--Creates an ordered list-->
        <ol>
        First Item
        Second Item
        </ol>

    <!--Creates a line Break-->
        <br>

    <!--Creates a list-->
        <li>
        First Item
        </li>

    <!--Changes text to be bold-->
        <b>
            Bold
        </b>

    <!--Changes text to be italic-->
        <i>
            Italic
        </i>

    <!--Creates a horizontal line-->
        <hr>

    <!--Makes text inside bigger/ same with small-->
        <big>
            Text
        </big>

    <!--Makes text inside subscript/ superscript-->
        <sub>
            subscript
        </sub>

    <!--Changing text colour by passing a property-->
        <p2 style="color:blue;">
            I am the colour blue
        </p2>

    <!--Creates a hyperlink-->
        <a href="https://github.com/Reece167/HTML.git" target="_blank">
            GitHub Repository
        </a>

    <!--Creates an image from a link-->
        <img width="160" height="90" src="https://image.freepik.com/free-photo/vacation-wonder-fresh-trees-waterfall-outdoor_1417-1104.jpg" alt="No Image"/>

    <!-Creates an image link-->
        <video src="HTML/JavaScript-Navigation/Video.mp4" controls width="600">

        </video>

    </body>
</html>