html {
    height: 1920px;
    width: 1080px;
    font-size: 25px;
    background: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/bfc73028828761.55d467b773475.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

table {
    justify-content: center;
    text-align: center;
    margin: auto;
    color: red;
    border: 3px solid blue
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}