<form action="/ToDo" method="post" autocomplete="off">
    <div class="Container" style="
        max-width: 800px;
        margin: auto;
        padding: 10px;">

            <input type="text" class="form-control" name="item" placeholder="Add a task" style="

            width: 100%;
            border: none;
            border-bottom: 2px solid #000000;
            background: none;
            padding: 10px;
            outline: none;
            font-size: 25px;"/>

        <div class="NotComplete">
            <h3 style="
                margin: 10px 0;
                font-size: 30px;
                ">Not Complete</h3>
        </div>

        <div class="Complete">
            <h3 style="
                margin: 10px 0;
                font-size: 30px;
                ">Complete</h3>
        </div>
    </div>
</form>