<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
    <script src="https://kit.fontawesome.com/91b867e3be.js" crossorigin="anonymous"></script>
</head>
<body class="bg-info">
    {{{body}}}
</body>
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        background: url('https://drkenfreedmanblog.xyz/image/46196-full_hd-wallpaper-green-gr-la-jolla-san-diego-california.jpg');
    }

</style>
</html>