<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
    <script src="https://kit.fontawesome.com/91b867e3be.js" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body class="bg-info">
            {{{body}}}

</body>

<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }

    html {
        background: url('https://drkenfreedmanblog.xyz/image/46196-full_hd-wallpaper-green-gr-la-jolla-san-diego-california.jpg');
    }

    .Task {
        width: 100%;
        background: rgba(255, 255, 255, 0.38);
        padding: 18px;
        margin: 6px 0;
        overflow: hidden;
    }

    .Task i {
        float: right;
        margin-left: 20px;
        cursor: pointer;
    }

    .Complete .Task {
        background: rgba(0, 0, 0, 0.39);
        color: #ffffff
    }
</style>
</html>